*
{
    margin:0px;
    padding: 0px;
    color: white;
}

.parent-1
{
    width: 100%;
    height:100px;
    background-color:black;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    text-transform: capitalize;
    
}

a
{
    margin-right:222px;
}

button
{
    background-color:rgba(245, 221, 5, 0.973);
}

.parent-2
{
    width: 100%;
    height: 400px;
    background-color:white;
    display: flex;
    border: 2px solid black;
    
}

.child-2-1
{
    width:15%;
    height:150px;
    background-color: brown;
    margin-right: 20px;
    border: 2px solid black;
}


.child-2-2
{
    width:15%;
    height:150px;
    background-color: rgba(196, 5, 5, 0.945);
    margin-right: 20px;
    border: 2px solid black;
    
}


.child-2-3
{
    width:15%;
    height:150px;
    background-color: rgba(32, 2, 2, 0.432);
    border: 2px solid black;
    position: relative;
    left:50px ;
    top: 50px;
}
.parent-3
{
    width: 100%;
    height:100px;
    background-color:black;
    display:flex;
    justify-content: center;
    align-items: center;
}